{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div>
    <ul class="nav navbar-nav navbar-right ttl-bd mt-4 mb-4">
        <li><a href="">プロフィールここ？2</a></li>
    </ul>
</div> 
<div class="container">
    <div class="row">
        <div class="card d-none d-sm-none d-md-none d-lg-none d-xl-block col-xl-3">
            <p class="block text-center">
                {% if user_data.icon %}
                    <img src="{{ user_data.icon.url }}" class="user-icon2 m-4">
                {% else %}
                    <img src="{% static 'img/user1.png' %}" alt="" class="user-icon">
                {% endif %}
                <big class="d-block">{{ user_data.user_name }}</big>
            </p>
            <hr id="inner-bar">
            <div id="user_post" class="row">
                <div class="col-md-7 text-right">投稿数</div>
                <div class="col-md-5 text-left">{{ post_count }}</div>
            </div>
            <div id="user_post" class="row">
                <div class="col-md-7 text-right">総いいね数</div>
                <div class="col-md-5 text-left">{{ like_all }}</div>
            </div>
            <div class="button mx-auto">
                <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
            </div>
        </div>
        <div class="col-xl-9">
            {% for like in like_data %}
            <div class="row post-detail">
                <div class="col-md-5">
                    <a href="{% url 'post_detail' like.post.id %}">
                        {% if like.post.image %}
                            <img class="img-fluid rounded mb-md-0 article-img" src="{{ like.post.image.url }}" alt="">
                        {% else %}    
                            <img class="img-fluid rounded mb-md-0 article-noimg" src="{% static 'img/20161006_noimage.svg' %}" alt="">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-7 article">
                    <div class="author-created">
                        <h7 class="text_left author-created">
                        {% if like.post.author.icon %}
                            <img src="{{ like.post.author.icon.url }}" class="user-icon-top">
                        {% else %}
                            <img src="{% static 'img/user1.png' %}" class="user-icon-top">
                        {% endif %}
                            {{ like.post.author }}
                        </h7>
                        <h7 class="text_right">{{ like.post.created|date:"Y年m月j日" }}</h7>
                    </div>
                    <div class="article-container">
                        <h3>{{ like.post.title|truncatechars:17}}</h3>
                        <div>
                        {% if like.post.category|stringformat:"s" == "ストーリー" %}
                            <img src="{% static 'img/memo.png' %}" alt="book" class="article-category-icon">
                        {% elif like.post.category|stringformat:"s" == "隠れミッキー" %}
                            <img src="{% static 'img/mickey.png' %}" alt="book" class="article-category-icon">
                        {% elif like.post.category|stringformat:"s" == "豆知識" %}
                            <img src="{% static 'img/bulb.png' %}" alt="book" class="article-category-icon bulb">
                        {% elif like.post.category|stringformat:"s" == "その他" %}
                            <img src="{% static 'img/comment.png' %}" alt="book" class="article-category-icon">
                        {% else %}
                            <img src="{% static 'img/search.png' %}" alt="なんも" class="article-category-icon">
                        {% endif %}
                        </div>
                    </div>
                    <p>{{ like.post.content|truncatechars:200 }}</p>
                    <a class="article-more" href="{% url 'post_detail' like.post.id %}">もっと見る</a>
                </div>
            </div>
            {% endfor %}
        <hr>
        <ul class="pagination justrify-content-center">
            {% if page_obj_like.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj_like.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj_like.paginator.page_range %}
                {% if page_obj_like.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#!">
                        {{ num }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            {% if page_obj_like.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj_like.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        </div>  
    </div>
</div>


{% endblock %}