{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div id="profile_page">
    <div id="user_status">
        {% if user_data.icon %}
            <img src="{{ user_data.icon.url }}" class="user-icon">
        {% else %}
            <img src="{% static 'img/user1.png' %}" alt="" class="urser-icon">
        {% endif %}
        <h2>{{ user_data.username }}</h2>
        <p class="followBtn">フォローする</p>
    </div>
    <div id="user_post">
        <p class="list-t">{{ user_data.username }}さんの投稿一覧</p>
    </div>
    <div class="button mx-auto">
        <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
    </div>
</div>

{% endblock %}