{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div>
    <ul class="nav navbar-nav navbar-right ttl-bd mt-4 mb-4">
        <li><a href="">プロフィール　</a></li>
    </ul>
</div> 
<div class="container">
    <p class="user-picture-box">プロフ画像予定</p>
</div>

<div id="profile_page">
    <div id="user_status">
        {% if user_data.icon %}
            <img src="{{ user_data.icon.url }}" class="user-icon">
        {% else %}
            <img src="{% static 'img/user1.png' %}" alt="" class="user-icon">
        {% endif %}
        <h2>{{ user_data.user_name }}</h2>
        <p class="followBtn">フォローする</p>
    </div>
    <div id="user_post">
        <p class="list-t">{{ user_data.user_name }}さんの投稿一覧</p>
    </div>
    <div class="button mx-auto">
        <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
    </div>
</div>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#tabs-1" class="nav-link">プロフィール</a></li>
        <li class="nav-item"><a href="#tabs-2" class="nav-link">Myお気に入り</a></li>
        <li class="nav-item"><a href="#tabs-3" class="nav-link">My投稿</a></li>
        <li class="nav-item"><a href="#tabs-4" class="nav-link">設定</a></li>
    </ul>
    <div id="tabs-1" class="tab-pane">
        <div class="card text-white bg-dark mb-3" style="max-width: 200rem;">
            <div class="card-header"><h2>プロフィール</h2></div>
        </div>
    </div>
    <div id="tabs-2" class="tab-pane">
        <div class="card text-white bg-dark mb-3" style="max-width: 200rem;">
            <div class="card-header"><h2>Myお気に入り</h2></div>
            <h5>お気に入り記事</h5>
            {% for like in like_data %}
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        {% if like.post.image %}
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ like.post.image.url }}" alt="">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="author-created">
                        <h7 class="text_left">{{ like.post.author }}</h7>
                        <h7 class="text_right">{{ like.post.created }}</h7>
                    </div>
                    <h3>{{ like.post.title }}</h3>
                    <p>{{ like.post.content|truncatechars:100 }}</p>
                    <a style="float:right;" href="{% url 'post_detail' like.post.id %}">続きを読む</a>
                </div>
            </div>
            <hr>
            {% endfor %}


            
            

            <!-- ブランク -->

            <!-- お気に入りページネーション -->
            <ul class="pagination justify-content-center">
                <p>ページネーション</p>
                {% if page_obj_like.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj_like.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in page_obj_like.paginator.page_range %}
                <p>ページライク</p>
                    {% if page_obj_like.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#!">
                            {{ num }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj_like.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj_like.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="tabs-3" class="tab-pane">
        <div class="card text-white bg-dark mb-3" style="max-width: 200rem;">
            <div class="card-header"><h2>My投稿</h2></div>
        </div>
    </div>
    <div id="tabs-4" class="tab-pane">
        <div class="card text-white bg-dark mb-3" style="max-width: 200rem;">
            <div class="card-header"><h2>設定</h2></div>
        </div>
    </div>
</div>

<h5>投稿記事あああ</h5>
{% for mypost in app.mypost_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
            {% if mypost.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ mypost.image.url }}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ mypost.author }}</h7>
            <h7 class="text_right">{{ mypost.created }}</h7>
        </div>
        <h3>{{ mypost.title }}</h3>
        <p>{{ mypost.content|truncatechars:100 }}</p>
        <a style="float:right;" href="{% url 'post_detail' mypost.id %}">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}
<!-- 投稿記事ページネーション -->
<ul class="pagination justify-content-center">
    {% if page_obj_mypost.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj_mypost.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    {% for num in page_obj_mypost.paginator.page_range %}
        {% if page_obj_mypost.number == num %}
        <li class="page-item active">
            <a class="page-link" href="#!">
                {{ num }}
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">
                {{ num }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    {% if page_obj_mypost.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj_mypost.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>

{% endblock %}