* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FDFFFF;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card-profile {
    width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.button {
    width: 150px;
}

.btn {
    font-size: 100%;
    border-radius: 10px;
}

.profile_table {
    width: 100%;
    border: 1px solid #D1DBEB;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
}

.profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #F1F5FA;
}

.profile_table .data {
    padding: 16px 24px;
}

.form_wrap {
    display: grid;
    gap: 16px;
}

.form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
}

.form-control:focus {
    box-shadow: none;
}

.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.formpost{
    margin-bottom: 1rem;
}

.index-img {
    object-fit: cover;
    height: 240px;
}

.detail-img {
    object-fit: cover;
    width: 80%;
    height: auto;
    text-align: center;
}

.author-created{
    display: flex;
    justify-content: space-between;
}

.author-created .text-left{
    position: absolute;
    left: 0;
}

.author-created .text-right{
    position: absolute;
    right: 0;
}

.parent {
    margin: 40px;
    background-color: green;
    display: flex;
    justify-content: space-between;
}
.child1 {
    background-color: greenyellow;
}
.child2 {
    background-color: blue;
}

/* category */
a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
}

.ttl-bd{
    border-bottom: 4px solid #dee2e6;
    padding-bottom: 3px;
}

.table-ul {
    /* background-color: #3ae; */
    border-bottom: 1px solid #dee2e6;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.table-ul li {
    border-right: 1px solid #dee2e6;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
}
.table-ul li:last-child {
    border-right: 0;   
}
.table-ul li a {
    color: 1px solid #dee2e6;
    display: block;
    font-size: 10px;
    text-decoration: none;
}
.icon-tw:before {
    color: #fff;
    content:"\f099";
    font-family: "FontAwesome";
}
.icon-fb:before {
    color: #fff;
    content:"\f082";
    font-family: "FontAwesome";
}
.icon-gp:before {
    color: #fff;
    content:"\f0d5";
    font-family: "FontAwesome";
}
.icon-yt:before {
    color: #fff;
    content:"\f167";
    font-family: "FontAwesome";
}

.masthead {
    height: 80vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-pic{
  width: 50%;
  height: 50%;  
}

.icon-category{
    object-fit: contain;
    width: 3rem;
    height: 3rem;
}

.icon-category-bulb{
    transform: rotate(45deg);
}

/* TDL-tableに関するCSS */
.TDL-talbe{
    position: relative;
}

/* .TDL-table a  */
.critter-link{
    position: absolute;
    top: 16%;
    left: 27%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #0aa9ee;
    text-decoration: none;/*下線を表示させない*/
}

.fantasy-link{
    position: absolute;
    top: 16%;
    left: 54.5%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #ad14a2;
    text-decoration: none;/*下線を表示させない*/
}

.toon-link{
    position: absolute;
    top: 22%;
    left:80%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #fe9500;
    text-decoration: none;/*下線を表示させない*/
}

.western-link{
    position: absolute;
    top: 44%;
    left:20%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #532207;
    text-decoration: none;/*下線を表示させない*/
}

.adventure-link{
    position: absolute;
    top: 73%;
    left:20%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #208715;
    text-decoration: none;/*下線を表示させない*/
}

.bazaar-link{
    position: absolute;
    top: 81.5%;
    left:50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #f66e70;
    text-decoration: none;/*下線を表示させない*/
}

.tomorrow-link{
    position: absolute;
    top: 73%;
    left:80%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;/*余計な隙間を除く*/
    font-size: 25px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    border-radius: 15px;
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    background-color: #1268b9;
    text-decoration: none;/*下線を表示させない*/
}

.TDL-table a:hover{/*カーソルを当てたとき*/
    opacity: 0.5;/*背景を半透明に*/
    color: black;
}

.TDL-table img {
    width: 100%;
}

/* aboutについて */
.img-profile{
    width: 65%;
    position: center;
}

.about-border{
    /* height: 200px; */
    border: bold;
    margin-top: 2rem;
}

#profile_page {
    padding-left: 3%;
}

#user_status {
    display: inline-block;
}

.followBtn {
    display: inline-block;
    border: 1.5px solid #ddd;
    padding: 2px 8px;
    font-size: 16.5px;
}

#user_post {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}

.list-t {
    font-size: 1.9rem;
    font-weight: 700;
}

.user-icon {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #eee;
}

/* ナビゲーションバー  */
.navbar{
    background-color: #f5fdfe;
    border: 2px black; 
}

.navbar-brand img{
    width: 20%;
    height: auto;
}

.navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(3,67,153,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

/* フッター */
.footer{
    background-color: #fefffe;
}

.footer p{
    color:#323332;
}