{% load static %}
{% load utils %}

<div class="picmenu">
    <ul class="table-ul">
        <li>
            <a href="{% url 'category' '全て' %}">
                <img src="{% static 'img/box.png' %}" alt="全て" class="icon-category">
                <p>全て</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'story' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'story' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'story' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'story' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'story' %}">
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'story' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'story' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'story' %}">
            {% endif %}
                <img src="{% static 'img/memo.png' %}" alt="ストーリー" class="icon-category">
                <p>ストーリー</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'fantasy' 'mickey' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'toon' 'mickey' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'mickey' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'mickey' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'mickey' %}">
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'mickey' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'mickey' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'mickey' %}">
            {% endif %}
                <img src="{% static 'img/mickey_b.png' %}" alt="隠れミッキー" class="icon-category">
                <p>隠れミッキー</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'fantasy' 'trivia' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'toon' 'trivia' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'trivia' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'trivia' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'trivia' %}">
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'trivia' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'trivia' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'trivia' %}">
            {% endif %}
                <img src="{% static 'img/bulb.png' %}" alt="豆知識" class="icon-category">
                <p>豆知識</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'fantasy' 'other' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'toon' 'other' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'other' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'other' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'other' %}">
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'other' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'other' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'other' %}">
            {% endif %}
                <img src="{% static 'img/bookmark.png' %}" alt="その他" class="icon-category">
                <p>その他</p>
            </a>
        </li>
    </ul>
</div>