{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div>
    <h2 class="ttl-bd mt-4 mb-4">このサイトについて</h2>
</div>
<div class="container">
    <div class="col-xs-12 col-lg-12">
        <p>東京ディズニーリゾートにまつわる裏話やお得情報を共有・投稿するファンサイトです。<br>The Walt Disney Companyや株式会社オリエンタルランド等のディズニー関連会社とは一切関係ありません。</p>
    </div>
    <div class="contents row">
        <div class="col-xs-12 col-lg-6">
            <h4>1.テキストテキストテキストテキストテキスト</h4>
            <p>木の葉が色づき、すっかり寒くなったディズニーランド園内。とある青年は止まらない脂汗に不快感と焦りを感じていました。
            　会話が続かない！
            　意中の女性とディズニーランドデートに漕ぎ付けられたのは良かったものの、緊張のあまり会話が続かず重たい空気が漂い始めていました。
            　そんな中、トゥーンタウンで偶然見つけたミッキーシルエットの鍵穴に喜ぶ女性を見て、青年はこれだ！と思いました。
            　ネットに転がる断片的な隠れミッキー情報を必死でかき集め、実物を探し回るうちに打ち解け、その後は楽しい時間を過ごすことができたのです。
            </p>
        </div>
        <div class="col-xs-12 col-lg-6 rounded">
            <img src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432843/picture_pc_0c274de1b76f4063c7ce088be3b57004.jpg"
                alt="" class="img-fluid img1">
        </div>
    </div>
    <div class="contents row mt-5">
        <div class="ccol-xs-12 col-lg-6 rounded">
            <img src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432845/picture_pc_3d21e88b8ee49951e3c0931173a8f8ed.jpg"
                alt="" class="img-fluid">
        </div>
        <div class="col-xs-12 col-lg-6">
            <h4>2.テキストテキストテキストテキスト</h4>
            <p>夢と魔法の国ディズニーリゾート。
                イマジニアの想像力とホスピタリティが創り上げるのは、お城やアトラクション等の煌びやかな建物だけではありません。
                隠れミッキー等の簡単には気づかないような所や、完全に目には見えない時代背景等についても作り込まれており、それらを知ればもっともっとディズニーランドが好きになること間違いなしだと思います。
                ディズニーリゾートの奥深さや楽しさを最大限伝えるためこのサイトを立ち上げました。
                全てディズニーリゾートファン、これからファンになる人、そして初めてのディズニーデートで緊張している貴方に向けこのサイトを立ち上げました<!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                </head>
                <body>
                    
                </body>
                </html>
            </p>
        </div>
    </div>
</div>
<hr class="about-border">
<div class="container mt-5">
    <div class="profile row">
        <div class="col-xs-12 col-lg-5">
            <img src="{% static 'img/minari.png' %}" alt="" class="img-thumbnail rounded-circle img-profile mx-auto d-block">
        </div>
        <div class="col-xs-12 col-lg-7">
            <h4>管理人</h4>
            <h3 class="admin-info">みなり</h3>
            <p>パーク訪問実績：東京ディズニーランド、東京ディズニーシー、香港ディズニーランド、ウォルトディズニーワールド、ディズニーランドパリ
                夢はクルーズ含め、全世界のディズニーランドをめぐること！
            </p>
        </div>
    </div>
</div>


    {% endblock %}