{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div>
    <h2 class="ttl-bd mt-4 mb-4">DSSについて</h2>
</div>
<div class="container">
    <div class="contents row">
        <div class="col-xs-12 col-lg-6 rounded">
            <img src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432843/picture_pc_0c274de1b76f4063c7ce088be3b57004.jpg"
                alt="" class="img-fluid img1">
        </div>
        <div class="col-xs-12 col-lg-6">
            <h4>1.テキストテキストテキストテキスト</h4>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
    </div>
    <div class="contents row mt-5">
        <div class="col-xs-12 col-lg-6">
            <h4>2.テキストテキストテキストテキスト</h4>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
        <div class="ccol-xs-12 col-lg-6 rounded">
            <img src="https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6432845/picture_pc_3d21e88b8ee49951e3c0931173a8f8ed.jpg"
                alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="profile row">
        <div class="col-xs-12 col-lg-5">
            <img src="{% static 'img/minari.png' %}" alt="" class="img-thumbnail rounded-circle img-profile mx-auto d-block">
        </div>
        <div class="col-xs-12 col-lg-7">
            <h4>みなり766</h4>
            <p>みなりですみなりですみなりですみなりです</p>
            <p>パーク訪問実績：東京ディズニーランド、東京ディズニーシー、香港ディズニーランド、ウォルトディズニーワールド、ディズニーランドパリ</p>
        </div>
    </div>
</div>

<div>
    {% endblock %}