{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div>
    <h2 class="ttl-bd mt-4 mb-4">DSSについて</h2>
</div>
<div class="container">
    <div class="contents" id="div01">
        <div class="left" id="photo01">
        </div>
        <div class="right text">
            <h4>1.テキストテキストテキストテキスト</h4>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
    </div>
    <div class="contents" id="div02">
        <div class="left text">
            <h4>2.テキストテキストテキストテキスト</h4>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
        <div class="right" id="photo02">
        </div>
    </div>
</div>

<div>
{% endblock %}