{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'javascript/javascript.js' %}"></script>
    <title>DSS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">DSS</a>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'post_new' %}" class="nav-link">投稿</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">プロフィール</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about_top' %}" class="nav-link">DSSについて</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'mypage' %}" class="nav-link">マイページ</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link">ログアウト</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">マイページ（登録画面への誘導）</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_signup' %}" class="nav-link">サインアップ</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link">ログイン</a>
                    </li>
                {% endif %}
                <form method="get" action="{% url 'search' %}" class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="ブログ内を検索...">
                    <button class="btn btn-warning" type="submit">検索</button>
                </form>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container col-xl-el">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="py-2 bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; Disney Side Stories</p>
    </footer>

    {% block extra_js %}
    {% endblock %}

</body>

</html>