{% extends "app/base.html" %}
{% load static %}

<a name="bazaar_top">
{% block content %}
<!-- トップ絵部分 -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center TDL-table">
                <img src="{% static 'img/fantasy_top.png' %}" alt="">
            </div>
        </div>
    </div>
</header>
<div class="row my-4">

</div>
<div class="row my-4">

</div>
{% include "app/snippets/picmenu.html" %}

{% include "app/snippets/post.html" %}    

{% include "app/snippets/pagination.html" %}
<div class="text-right">
    <a href="{% url 'post_new' %}" class="btn btn-info">新しい記事を投稿</a>
</div>

{% endblock %}