{% extends "app/base.html" %}
{% load static %}

{% block content %}
<!-- トップ絵部分 -->
<a name="bazaar">
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center TDL-table">
                <img src="{% static 'img/TDL.png' %}" alt="">
                <!-- <a href="#" class="critter-link">クリッターカントリー</a>
                <a href="#" class="fantasy-link">ファンタジーランド</a>
                <a href="#" class="toon-link">トゥーンタウン</a>
                <a href="#" class="western-link">ウエスタンランド</a>
                <a href="#" class="adventure-link">アドベンチャーランド</a>
                <a href="#" class="bazaar-link">ワールドバザール</a>
                <a href="#" class="tomorrow-link">トゥモローランド</a> -->
                <!-- usemapタグを使ったマップリンク設置 （部分変更が使えないと考えたので別の方法を模索）-->
                <!-- <map name="image-map">
                    <img src="{% static 'img/TDL.png' %}" alt="" usemap="#image-map">
                    <area target="_blank" alt="critter" title="critter" href="#" coords="158,84,445,136" shape="rect">
                    <ul>
                        <li>
                            <a href="#">
                                <div>テスト</div>
                            </a>
                        </li>
                    </ul>
                    <area target="_blank" alt="fantasy" title="fantasy" href="#" coords="753,135,496,87" shape="rect">
                    <area target="_blank" alt="toon" title="toon" href="#" coords="808,123,1037,175" shape="rect">
                    <area target="_blank" alt="adventure" title="adventure" href="#" coords="78,471,361,526" shape="rect">
                    <area target="_blank" alt="western" title="western" href="#" coords="92,271,341,327" shape="rect">
                    <area target="_blank" alt="bazaar" title="bazaar" href="#" coords="449,528,693,582" shape="rect">
                    <area target="_blank" alt="tomorrow" title="tomorrow" href="#" coords="" shape="rect">
                </map> -->
            </div>
        </div>
    </div>
    <img src="https://picsum.photos/id/1080/200" id="targetImage">
</header>

<div class="row my-4">
    <div class="col-md-8">
        <div class="card my-4">
            <h5 class="card-header">カテゴリ</h5>
            <div class="card-body">
                <div class="row">
                    {% for category in category_data %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'category' category %}">
                                    {{ category.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="picmenu">
    <ul class="table-ul">
        <li>
            <a href="#">
                <img src="{% static 'img/box.png' %}" alt="全て" class="icon-category">
                <p>全て</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/memo.png' %}" alt="ストーリー" class="icon-category">
                <p>ストーリー</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/mickey_b.png' %}" alt="隠れミッキー" class="icon-category">
                <p>隠れミッキー</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/blub.png' %}" alt="豆知識" class="icon-category icon-category-bulb">
                <p>豆知識</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/bookmark.png' %}" alt="その他" class="icon-category">
                <p>その他</p>
            </a>
        </li>
    </ul>
</div>
    
{% for post in post_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
        {% if post.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ post.image.url }}" alt="">
        {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ post.author }}</h7>
            <h7 class="text_right">{{ post.created }}</h7>
        </div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|truncatechars:100 }}</p>
        <!-- <a class="btn btn-warning" href="#">続きを読む</a> -->
        <a style="float:right;" href="#">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}
<div class="text-right">
    <button class="btn btn-info" type="button" href="#">新しい記事を投稿</button>
</div>

{% endblock %}