{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div>
    <ul class="nav navbar-nav navbar-right ttl-bd mt-4 mb-4">
        <li><a href="">My お気に入り</a></li>
    </ul>
</div> 

{% for like in like_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
            {% if like.post.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ like.post.image.url }}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ like.post.author }}</h7>
            <h7 class="text_right">{{ like.post.created }}</h7>
        </div>
        <h3>{{ like.post.title }}</h3>
        <p>{{ like.post.content|truncatechars:100 }}</p>
        <a style="float:right;" href="{% url 'post_detail' like.post.id %}">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}
<!-- お気に入りページネーション -->
<ul class="pagination justify-content-center">
    {% if page_obj_like.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj_like.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    {% for num in page_obj_like.paginator.page_range %}
        {% if page_obj_like.number == num %}
        <li class="page-item active">
            <a class="page-link" href="#!">
                {{ num }}
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">
                {{ num }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    {% if page_obj_like.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj_like.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>


<h5>投稿記事</h5>
{% for mypost in mypost_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
            {% if mypost.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ mypost.image.url }}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ mypost.author }}</h7>
            <h7 class="text_right">{{ mypost.created }}</h7>
        </div>
        <h3>{{ mypost.title }}</h3>
        <p>{{ mypost.content|truncatechars:100 }}</p>
        <a style="float:right;" href="{% url 'post_detail' mypost.id %}">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}
<!-- 投稿記事ページネーション -->
<ul class="pagination justify-content-center">
    {% if page_obj_mypost.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj_mypost.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    {% for num in page_obj_mypost.paginator.page_range %}
        {% if page_obj_mypost.number == num %}
        <li class="page-item active">
            <a class="page-link" href="#!">
                {{ num }}
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">
                {{ num }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    {% if page_obj_mypost.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj_mypost.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>

{% endblock %}