{% extends "app/base.html" %}
{% load static %}

{% block content %}
<!-- トップ絵部分 -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">画像エリア</h1>
            </div>
        </div>
    </div>
</header>

<div class="row my-4">
    <div class="col-md-8">
        <div class="card my-4">
            <h5 class="card-header">カテゴリ</h5>
            <div class="card-body">
                <div class="row">
                    {% for category in category_data %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'category' category %}">
                                    {{ category.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="picmenu">
    <ul class="table-ul">
        <li>
            <!-- <a src="src/えんぴつ付きのノートアイコン (1).png"></a> -->
            <!-- <a href="https://www.yahoo.co.jp/" class="btn btn-block btn-lg btn-default"><img src="../templates/img/blub_black.png"></a> -->
            <a href="#">
                <img src="{% static 'img/chat.png'  %}">
                <i>全て</i>
            </a>
        </li>
        <li><a href="#">ストーリー</a></li>
        <li><a href="#">隠しミッキー</a></li>
        <li><a href="#">豆知識</a></li>
        <li><a href="#">その他</a></li>
    </ul>
    <!-- <ul class="nav justify-content-center">
        <li>全て</li>
        <li>ストーリー</li>
        <li>隠しミッキー</li>
        <li>豆知識</li>
        <li>その他</li>
    </ul> -->
</div>
    
{% for post in post_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
        {% if post.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ post.image.url }}" alt="">
        {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ post.author }}</h7>
            <h7 class="text_right">{{ post.created }}</h7>
        </div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|truncatechars:100 }}</p>
        <!-- <a class="btn btn-warning" href="#">続きを読む</a> -->
        <a style="float:right;" href="#">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}
<div class="text-right">
    <button class="btn btn-info" type="button" href="#">新しい記事を投稿</button>
</div>

{% endblock %}