{% extends "app/base.html" %}
{% load static %}

{% block content %}
<!-- トップ絵部分 -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center TDL-table">
                <img src="{% static 'img/TDL.png' %}" alt="">
                <a href="{% url 'critter_top' %}" class="critter-link">クリッターカントリー</a>
                <a href="{% url 'fantasy_top' %}" class="fantasy-link">ファンタジーランド</a>
                <a href="toon_top" class="toon-link">トゥーンタウン</a>
                <a href="western_top" class="western-link">ウエスタンランド</a>
                <a href="{% url 'adventure_top' %}" class="adventure-link">アドベンチャーランド</a>
                <a href="{% url 'bazaar_top' %}" class="bazaar-link">ワールドバザール</a>
                <a href="tomorrow_top" class="tomorrow-link">トゥモローランド</a>
            </div>
        </div>
    </div>
</header>

<div class="row my-4">

</div>
{% include "app/snippets/picmenu.html" %}
    
{% for post in post_data %}
<div class="row">
    <div class="col-md-4">
        <a href="#">
        {% if post.image %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ post.image.url }}" alt="">
        {% endif %}
        </a>
    </div>
    <div class="col-md-8">
        <div class="author-created">
            <h7 class="text_left">{{ post.author }}</h7>
            <h7 class="text_right">{{ post.created }}</h7>
        </div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|truncatechars:100 }}</p>
        <a style="float:right;" href="{% url 'post_detail' post.id %}">続きを読む</a>
    </div>
</div>
<hr>
{% endfor %}

{% include "app/snippets/pagination.html" %}
<div class="text-right">
    <a href="{% url 'post_new' %}" class="btn btn-info">新しい記事を投稿</a>
</div>

{% endblock %}