{% extends "app/base.html" %}
{% load utils %}
{% load static %}

{% block content %}

<!-- トップ絵部分 -->
<header class="masthead">
    <div class="container h-auto my-4">
        <div class="row h-auto align-items-center">
            <div class="col-12 text-center TDL-table">
                {% if area == 'bazaar' %}
                    <img src="{% static 'img/WorldBazaar(testSS).png' %}" alt="" class="top-pic-bazaar">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'bazaar' 'story' 'omni' %}" class="omni-link">オムニバス</a>
                        <a href="{% url 'index' 'bazaar' 'story' 'penny' %}" class="penny-link">ペニーアーケード</a>
                        <a href="{% url 'index' 'bazaar' 'story' 'bazaar-other' %}" class="bazaar-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'bazaar' 'mickey' 'omni' %}" class="omni-link">オムニバス</a>
                        <a href="{% url 'index' 'bazaar' 'mickey' 'penny' %}" class="penny-link">ペニーアーケード</a>
                        <a href="{% url 'index' 'bazaar' 'mickey' 'bazaar-other' %}" class="bazaar-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'bazaar' 'trivia' 'omni' %}" class="omni-link">オムニバス</a>
                        <a href="{% url 'index' 'bazaar' 'trivia' 'penny' %}" class="penny-link">ペニーアーケード</a>
                        <a href="{% url 'index' 'bazaar' 'trivia' 'bazaar-other' %}" class="bazaar-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'bazaar' 'other' 'omni' %}" class="omni-link">オムニバス</a>
                        <a href="{% url 'index' 'bazaar' 'other' 'penny' %}" class="penny-link">ペニーアーケード</a>
                        <a href="{% url 'index' 'bazaar' 'other' 'bazaar-other' %}" class="bazaar-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'bazaar' 'all' 'omni' %}" class="omni-link">オムニバス</a>
                        <a href="{% url 'index' 'bazaar' 'all' 'penny' %}" class="penny-link">ペニーアーケード</a>
                        <a href="{% url 'index' 'bazaar' 'all' 'bazaar-other' %}" class="bazaar-other-link">その他</a>
                    {% endif %}
                {% elif area == 'adventure' %}
                    <img src="{% static 'img/AdventureLand(testSS).png' %}" alt="">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'adventure' 'story' 'riverline' %}" class="riverline-link">ウエスタンリバー鉄道</a>
                        <a href="{% url 'index' 'adventure' 'story' 'carib' %}" class="carib-link">カリブの海賊</a>
                        <a href="{% url 'index' 'adventure' 'story' 'cruise' %}" class="cruise-link">ジャングルクルーズ</a>
                        <a href="{% url 'index' 'adventure' 'story' 'swiss' %}" class="swiss-link">スイスファミリー・ツリーハウス</a>
                        <a href="{% url 'index' 'adventure' 'story' 'tiki' %}" class="tiki-link">魅惑のチキルーム <br>“アロハ・エ・コモ・マイ!”</a>
                        <a href="{% url 'index' 'adventure' 'story' 'adventure-other' %}" class="adventure-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'adventure' 'mickey' 'riverline' %}" class="riverline-link">ウエスタンリバー鉄道</a>
                        <a href="{% url 'index' 'adventure' 'mickey' 'carib' %}" class="carib-link">カリブの海賊</a>
                        <a href="{% url 'index' 'adventure' 'mickey' 'cruise' %}" class="cruise-link">ジャングルクルーズ</a>
                        <a href="{% url 'index' 'adventure' 'mickey' 'swiss' %}" class="swiss-link">スイスファミリー・ツリーハウス</a>
                        <a href="{% url 'index' 'adventure' 'mickey' 'tiki' %}" class="tiki-link">魅惑のチキルーム <br>“アロハ・エ・コモ・マイ!”</a>
                        <a href="{% url 'index' 'adventure' 'mickey' 'adventure-other' %}" class="adventure-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'adventure' 'trivia' 'riverline' %}" class="riverline-link">ウエスタンリバー鉄道</a>
                        <a href="{% url 'index' 'adventure' 'trivia' 'carib' %}" class="carib-link">カリブの海賊</a>
                        <a href="{% url 'index' 'adventure' 'trivia' 'cruise' %}" class="cruise-link">ジャングルクルーズ</a>
                        <a href="{% url 'index' 'adventure' 'trivia' 'swiss' %}" class="swiss-link">スイスファミリー・ツリーハウス</a>
                        <a href="{% url 'index' 'adventure' 'trivia' 'tiki' %}" class="tiki-link">魅惑のチキルーム <br>“アロハ・エ・コモ・マイ!”</a>
                        <a href="{% url 'index' 'adventure' 'trivia' 'adventure-other' %}" class="adventure-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'adventure' 'other' 'riverline' %}" class="riverline-link">ウエスタンリバー鉄道</a>
                        <a href="{% url 'index' 'adventure' 'other' 'carib' %}" class="carib-link">カリブの海賊</a>
                        <a href="{% url 'index' 'adventure' 'other' 'cruise' %}" class="cruise-link">ジャングルクルーズ</a>
                        <a href="{% url 'index' 'adventure' 'other' 'swiss' %}" class="swiss-link">スイスファミリー・ツリーハウス</a>
                        <a href="{% url 'index' 'adventure' 'other' 'tiki' %}" class="tiki-link">魅惑のチキルーム <br>“アロハ・エ・コモ・マイ!”</a>
                        <a href="{% url 'index' 'adventure' 'other' 'adventure-other' %}" class="adventure-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'adventure' 'all' 'riverline' %}" class="riverline-link">ウエスタンリバー鉄道</a>
                        <a href="{% url 'index' 'adventure' 'all' 'carib' %}" class="carib-link">カリブの海賊</a>
                        <a href="{% url 'index' 'adventure' 'all' 'cruise' %}" class="cruise-link">ジャングルクルーズ</a>
                        <a href="{% url 'index' 'adventure' 'all' 'swiss' %}" class="swiss-link">スイスファミリー・ツリーハウス</a>
                        <a href="{% url 'index' 'adventure' 'all' 'tiki' %}" class="tiki-link">魅惑のチキルーム <br>“アロハ・エ・コモ・マイ!”</a>
                        <a href="{% url 'index' 'adventure' 'all' 'adventure-other' %}" class="adventure-other-link">その他</a>
                    {% endif %}
                {% elif area == 'western' %}
                    <img src="{% static 'img/WesternLand(testSS).png' %}" alt="">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'western' 'story' 'shooting' %}" class="shooting-link">シューティングギャラリー</a>
                        <a href="{% url 'index' 'western' 'story' 'bear' %}" class="bear-link">カントリーベア・シアター</a>
                        <a href="{% url 'index' 'western' 'story' 'mark' %}" class="mark-link">蒸気船マークトウェイン号</a>
                        <a href="{% url 'index' 'western' 'story' 'tom' %}" class="tom-link">トムソーヤ島いかだ</a>
                        <a href="{% url 'index' 'western' 'story' 'big' %}" class="big-link">ビッグサンダー・マウンテン</a>
                        <a href="{% url 'index' 'western' 'story' 'western-other' %}" class="western-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'western' 'mickey' 'shooting' %}" class="shooting-link">シューティングギャラリー</a>
                        <a href="{% url 'index' 'western' 'mickey' 'bear' %}" class="bear-link">カントリーベア・シアター</a>
                        <a href="{% url 'index' 'western' 'mickey' 'mark' %}" class="mark-link">蒸気船マークトウェイン号</a>
                        <a href="{% url 'index' 'western' 'mickey' 'tom' %}" class="tom-link">トムソーヤ島いかだ</a>
                        <a href="{% url 'index' 'western' 'mickey' 'big' %}" class="big-link">ビッグサンダー・マウンテン</a>
                        <a href="{% url 'index' 'western' 'mickey' 'western-other' %}" class="western-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'western' 'trivia' 'shooting' %}" class="shooting-link">シューティングギャラリー</a>
                        <a href="{% url 'index' 'western' 'trivia' 'bear' %}" class="bear-link">カントリーベア・シアター</a>
                        <a href="{% url 'index' 'western' 'trivia' 'mark' %}" class="mark-link">蒸気船マークトウェイン号</a>
                        <a href="{% url 'index' 'western' 'trivia' 'tom' %}" class="tom-link">トムソーヤ島いかだ</a>
                        <a href="{% url 'index' 'western' 'trivia' 'big' %}" class="big-link">ビッグサンダー・マウンテン</a>
                        <a href="{% url 'index' 'western' 'trivia' 'western-other' %}" class="western-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'western' 'other' 'shooting' %}" class="shooting-link">シューティングギャラリー</a>
                        <a href="{% url 'index' 'western' 'other' 'bear' %}" class="bear-link">カントリーベア・シアター</a>
                        <a href="{% url 'index' 'western' 'other' 'mark' %}" class="mark-link">蒸気船マークトウェイン号</a>
                        <a href="{% url 'index' 'western' 'other' 'tom' %}" class="tom-link">トムソーヤ島いかだ</a>
                        <a href="{% url 'index' 'western' 'other' 'big' %}" class="big-link">ビッグサンダー・マウンテン</a>
                        <a href="{% url 'index' 'western' 'other' 'western-other' %}" class="western-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'western' 'all' 'shooting' %}" class="shooting-link">シューティングギャラリー</a>
                        <a href="{% url 'index' 'western' 'all' 'bear' %}" class="bear-link">カントリーベア・シアター</a>
                        <a href="{% url 'index' 'western' 'all' 'mark' %}" class="mark-link">蒸気船マークトウェイン号</a>
                        <a href="{% url 'index' 'western' 'all' 'tom' %}" class="tom-link">トムソーヤ島いかだ</a>
                        <a href="{% url 'index' 'western' 'all' 'big' %}" class="big-link">ビッグサンダー・マウンテン</a>
                        <a href="{% url 'index' 'western' 'all' 'western-other' %}" class="western-other-link">その他</a>
                    {% endif %}
                {% elif area == 'critter' %}
                    <img src="{% static 'img/CritterCountry(testSS).png' %}" alt="">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'critter' 'story' 'splash' %}" class="splash-link">スプラッシュ・マウンテン</a>
                        <a href="{% url 'index' 'critter' 'story' 'canoe' %}" class="canoe-link">ビーバーブラザーズのカヌー探険</a>
                        <a href="{% url 'index' 'critter' 'story' 'critter-other' %}" class="critter-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'critter' 'mickey' 'splash' %}" class="splash-link">スプラッシュ・マウンテン</a>
                        <a href="{% url 'index' 'critter' 'mickey' 'canoe' %}" class="canoe-link">ビーバーブラザーズのカヌー探険</a>
                        <a href="{% url 'index' 'critter' 'mickey' 'critter-other' %}" class="critter-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'critter' 'trivia' 'splash' %}" class="splash-link">スプラッシュ・マウンテン</a>
                        <a href="{% url 'index' 'critter' 'trivia' 'canoe' %}" class="canoe-link">ビーバーブラザーズのカヌー探険</a>
                        <a href="{% url 'index' 'critter' 'trivia' 'critter-other' %}" class="critter-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'critter' 'other' 'splash' %}" class="splash-link">スプラッシュ・マウンテン</a>
                        <a href="{% url 'index' 'critter' 'other' 'canoe' %}" class="canoe-link">ビーバーブラザーズのカヌー探険</a>
                        <a href="{% url 'index' 'critter' 'other' 'critter-other' %}" class="critter-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'critter' 'all' 'splash' %}" class="splash-link">スプラッシュ・マウンテン</a>
                        <a href="{% url 'index' 'critter' 'all' 'canoe' %}" class="canoe-link">ビーバーブラザーズのカヌー探険</a>
                        <a href="{% url 'index' 'critter' 'all' 'critter-other' %}" class="critter-other-link">その他</a>
                    {% endif %}
                {% elif area == 'fantasy' %}
                    <img src="{% static 'img/fantasy_top.png' %}" alt="">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'fantasy' 'story' 'alice' %}" class="alice-link">アリスのティーパーティー</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'small' %}" class="small-link">イッツ・ア・スモールワールド</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'carousel' %}" class="carousel-link">キャッスルカルーセル</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'snow' %}" class="snow-link">白雪姫と七人のこびと</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'cinderella' %}" class="cinderella-link">シンデレラのフェアリーテイル・ホール</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'dumbo' %}" class="dumbo-link">空飛ぶダンボ</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'beast' %}" class="beast-link">美女と野獣"まほうのものがたり"</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'peter' %}" class="peter-link">ピーターパン空の旅</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'pinocchio' %}" class="pinocchio-link">ピノキオの冒険旅行</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'pooh' %}" class="pooh-link">プーさんのハニーハント</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'haunted' %}" class="haunted-link">ホーンテッドマンション</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'philhar' %}" class="philhar-link">ミッキーのフィルハーマジック</a>
                        <a href="{% url 'index' 'fantasy' 'story' 'fantasy-other' %}" class="fantasy-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'fantasy' 'mickey' 'alice' %}" class="alice-link">アリスのティーパーティー</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'small' %}" class="small-link">イッツ・ア・スモールワールド</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'carousel' %}" class="carousel-link">キャッスルカルーセル</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'snow' %}" class="snow-link">白雪姫と七人のこびと</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'cinderella' %}" class="cinderella-link">シンデレラのフェアリーテイル・ホール</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'dumbo' %}" class="dumbo-link">空飛ぶダンボ</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'beast' %}" class="beast-link">美女と野獣"まほうのものがたり"</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'peter' %}" class="peter-link">ピーターパン空の旅</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'pinocchio' %}" class="pinocchio-link">ピノキオの冒険旅行</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'pooh' %}" class="pooh-link">プーさんのハニーハント</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'haunted' %}" class="haunted-link">ホーンテッドマンション</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'philhar' %}" class="philhar-link">ミッキーのフィルハーマジック</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' 'fantasy-other' %}" class="fantasy-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'fantasy' 'trivia' 'alice' %}" class="alice-link">アリスのティーパーティー</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'small' %}" class="small-link">イッツ・ア・スモールワールド</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'carousel' %}" class="carousel-link">キャッスルカルーセル</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'snow' %}" class="snow-link">白雪姫と七人のこびと</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'cinderella' %}" class="cinderella-link">シンデレラのフェアリーテイル・ホール</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'dumbo' %}" class="dumbo-link">空飛ぶダンボ</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'beast' %}" class="beast-link">美女と野獣"まほうのものがたり"</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'peter' %}" class="peter-link">ピーターパン空の旅</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'pinocchio' %}" class="pinocchio-link">ピノキオの冒険旅行</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'pooh' %}" class="pooh-link">プーさんのハニーハント</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'haunted' %}" class="haunted-link">ホーンテッドマンション</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'philhar' %}" class="philhar-link">ミッキーのフィルハーマジック</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' 'fantasy-other' %}" class="fantasy-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'fantasy' 'other' 'alice' %}" class="alice-link">アリスのティーパーティー</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'small' %}" class="small-link">イッツ・ア・スモールワールド</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'carousel' %}" class="carousel-link">キャッスルカルーセル</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'snow' %}" class="snow-link">白雪姫と七人のこびと</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'cinderella' %}" class="cinderella-link">シンデレラのフェアリーテイル・ホール</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'dumbo' %}" class="dumbo-link">空飛ぶダンボ</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'beast' %}" class="beast-link">美女と野獣"まほうのものがたり"</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'peter' %}" class="peter-link">ピーターパン空の旅</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'pinocchio' %}" class="pinocchio-link">ピノキオの冒険旅行</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'pooh' %}" class="pooh-link">プーさんのハニーハント</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'haunted' %}" class="haunted-link">ホーンテッドマンション</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'philhar' %}" class="philhar-link">ミッキーのフィルハーマジック</a>
                        <a href="{% url 'index' 'fantasy' 'other' 'fantasy-other' %}" class="fantasy-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'fantasy' 'all' 'alice' %}" class="alice-link">アリスのティーパーティー</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'small' %}" class="small-link">イッツ・ア・スモールワールド</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'carousel' %}" class="carousel-link">キャッスルカルーセル</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'snow' %}" class="snow-link">白雪姫と七人のこびと</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'cinderella' %}" class="cinderella-link">シンデレラのフェアリーテイル・ホール</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'dumbo' %}" class="dumbo-link">空飛ぶダンボ</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'beast' %}" class="beast-link">美女と野獣"まほうのものがたり"</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'peter' %}" class="peter-link">ピーターパン空の旅</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'pinocchio' %}" class="pinocchio-link">ピノキオの冒険旅行</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'pooh' %}" class="pooh-link">プーさんのハニーハント</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'haunted' %}" class="haunted-link">ホーンテッドマンション</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'philhar' %}" class="philhar-link">ミッキーのフィルハーマジック</a>
                        <a href="{% url 'index' 'fantasy' 'all' 'fantasy-other' %}" class="fantasy-other-link">その他</a>
                    {% endif %}
                {% elif area == 'toon' %}
                    <img src="{% static 'img/ToonTown(testSS).png' %}" alt="" class="top-pic-toon">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'toon' 'story' 'gadget' %}" class="gadget-link">ガジェットのゴーコースター</a>
                        <a href="{% url 'index' 'toon' 'story' 'goofy' %}" class="goofy-link">グーフィーのペイント＆プレイハウス</a>
                        <a href="{% url 'index' 'toon' 'story' 'chip' %}" class="chip-link">チップとデールのツリーハウス</a>
                        <a href="{% url 'index' 'toon' 'story' 'park' %}" class="park-link">トゥーンパーク</a>
                        <a href="{% url 'index' 'toon' 'story' 'donald' %}" class="donald-link">ドナルドのボート</a>
                        <a href="{% url 'index' 'toon' 'story' 'minnie' %}" class="minnie-link">ミニーの家</a>
                        <a href="{% url 'index' 'toon' 'story' 'roger' %}" class="roger-link">ロジャーラビットのカートゥーンスピン</a>
                        <a href="{% url 'index' 'toon' 'story' 'style' %}" class="style-link">ミニーのスタイルスタジオ</a>
                        <a href="{% url 'index' 'toon' 'story' 'mickey' %}" class="mickey-link">ミッキーの家とミート・ミッキー</a>
                        <a href="{% url 'index' 'toon' 'story' 'toon-other' %}" class="toon-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'toon' 'mickey' 'gadget' %}" class="gadget-link">ガジェットのゴーコースター</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'goofy' %}" class="goofy-link">グーフィーのペイント＆プレイハウス</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'chip' %}" class="chip-link">チップとデールのツリーハウス</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'park' %}" class="park-link">トゥーンパーク</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'donald' %}" class="donald-link">ドナルドのボート</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'minnie' %}" class="minnie-link">ミニーの家</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'roger' %}" class="roger-link">ロジャーラビットのカートゥーンスピン</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'style' %}" class="style-link">ミニーのスタイルスタジオ</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'mickey' %}" class="mickey-link">ミッキーの家とミート・ミッキー</a>
                        <a href="{% url 'index' 'toon' 'mickey' 'toon-other' %}" class="toon-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'toon' 'trivia' 'gadget' %}" class="gadget-link">ガジェットのゴーコースター</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'goofy' %}" class="goofy-link">グーフィーのペイント＆プレイハウス</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'chip' %}" class="chip-link">チップとデールのツリーハウス</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'park' %}" class="park-link">トゥーンパーク</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'donald' %}" class="donald-link">ドナルドのボート</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'minnie' %}" class="minnie-link">ミニーの家</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'roger' %}" class="roger-link">ロジャーラビットのカートゥーンスピン</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'style' %}" class="style-link">ミニーのスタイルスタジオ</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'mickey' %}" class="mickey-link">ミッキーの家とミート・ミッキー</a>
                        <a href="{% url 'index' 'toon' 'trivia' 'toon-other' %}" class="toon-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'toon' 'other' 'gadget' %}" class="gadget-link">ガジェットのゴーコースター</a>
                        <a href="{% url 'index' 'toon' 'other' 'goofy' %}" class="goofy-link">グーフィーのペイント＆プレイハウス</a>
                        <a href="{% url 'index' 'toon' 'other' 'chip' %}" class="chip-link">チップとデールのツリーハウス</a>
                        <a href="{% url 'index' 'toon' 'other' 'park' %}" class="park-link">トゥーンパーク</a>
                        <a href="{% url 'index' 'toon' 'other' 'donald' %}" class="donald-link">ドナルドのボート</a>
                        <a href="{% url 'index' 'toon' 'other' 'minnie' %}" class="minnie-link">ミニーの家</a>
                        <a href="{% url 'index' 'toon' 'other' 'roger' %}" class="roger-link">ロジャーラビットのカートゥーンスピン</a>
                        <a href="{% url 'index' 'toon' 'other' 'style' %}" class="style-link">ミニーのスタイルスタジオ</a>
                        <a href="{% url 'index' 'toon' 'other' 'mickey' %}" class="mickey-link">ミッキーの家とミート・ミッキー</a>
                        <a href="{% url 'index' 'toon' 'other' 'toon-other' %}" class="toon-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'toon' 'all' 'gadget' %}" class="gadget-link">ガジェットのゴーコースター</a>
                        <a href="{% url 'index' 'toon' 'all' 'goofy' %}" class="goofy-link">グーフィーのペイント＆プレイハウス</a>
                        <a href="{% url 'index' 'toon' 'all' 'chip' %}" class="chip-link">チップとデールのツリーハウス</a>
                        <a href="{% url 'index' 'toon' 'all' 'park' %}" class="park-link">トゥーンパーク</a>
                        <a href="{% url 'index' 'toon' 'all' 'donald' %}" class="donald-link">ドナルドのボート</a>
                        <a href="{% url 'index' 'toon' 'all' 'minnie' %}" class="minnie-link">ミニーの家</a>
                        <a href="{% url 'index' 'toon' 'all' 'roger' %}" class="roger-link">ロジャーラビットのカートゥーンスピン</a>
                        <a href="{% url 'index' 'toon' 'all' 'style' %}" class="style-link">ミニーのスタイルスタジオ</a>
                        <a href="{% url 'index' 'toon' 'all' 'mickey' %}" class="mickey-link">ミッキーの家とミート・ミッキー</a>
                        <a href="{% url 'index' 'toon' 'all' 'toon-other' %}" class="toon-other-link">その他</a>
                    {% endif %}
                {% elif area == 'tomorrow' %}
                    <img src="{% static 'img/TomorrowLand(testSS).png' %}" alt="" class="top-pic-toon">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'tomorrow' 'story' 'tours' %}" class="tours-link">スター・ツアーズ</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'stitch' %}" class="stitch-link">スティッチ・エンカウンター</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'space' %}" class="space-link">スペース・マウンテン</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'buzz' %}" class="buzz-link">バズ・ライトイヤーのアストロブラスター</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'baymax' %}" class="baymax-link">ベイマックスのハッピーライド</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'monsters' %}" class="monsters-link">モンスターズ・インク<br>"ライド&ゴーシーク！"</a>
                        <a href="{% url 'index' 'tomorrow' 'story' 'tomorrow-other' %}" class="tomorrow-other-link">その他</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'tours' %}" class="tours-link">スター・ツアーズ</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'stitch' %}" class="stitch-link">スティッチ・エンカウンター</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'space' %}" class="space-link">スペース・マウンテン</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'buzz' %}" class="buzz-link">バズ・ライトイヤーのアストロブラスター</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'baymax' %}" class="baymax-link">ベイマックスのハッピーライド</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'monsters' %}" class="monsters-link">モンスターズ・インク<br>"ライド&ゴーシーク！"</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' 'tomorrow-other' %}" class="tomorrow-other-link">その他</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'tours' %}" class="tours-link">スター・ツアーズ</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'stitch' %}" class="stitch-link">スティッチ・エンカウンター</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'space' %}" class="space-link">スペース・マウンテン</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'buzz' %}" class="buzz-link">バズ・ライトイヤーのアストロブラスター</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'baymax' %}" class="baymax-link">ベイマックスのハッピーライド</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'monsters' %}" class="monsters-link">モンスターズ・インク<br>"ライド&ゴーシーク！"</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' 'tomorrow-other' %}" class="tomorrow-other-link">その他</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'tomorrow' 'other' 'tours' %}" class="tours-link">スター・ツアーズ</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'stitch' %}" class="stitch-link">スティッチ・エンカウンター</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'space' %}" class="space-link">スペース・マウンテン</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'buzz' %}" class="buzz-link">バズ・ライトイヤーのアストロブラスター</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'baymax' %}" class="baymax-link">ベイマックスのハッピーライド</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'monsters' %}" class="monsters-link">モンスターズ・インク<br>"ライド&ゴーシーク！"</a>
                        <a href="{% url 'index' 'tomorrow' 'other' 'tomorrow-other' %}" class="tomorrow-other-link">その他</a>
                    {% else %}
                        <a href="{% url 'index' 'tomorrow' 'all' 'tours' %}" class="tours-link">スター・ツアーズ</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'stitch' %}" class="stitch-link">スティッチ・エンカウンター</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'space' %}" class="space-link">スペース・マウンテン</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'buzz' %}" class="buzz-link">バズ・ライトイヤーのアストロブラスター</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'baymax' %}" class="baymax-link">ベイマックスのハッピーライド</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'monsters' %}" class="monsters-link">モンスターズ・インク<br>"ライド&ゴーシーク！"</a>
                        <a href="{% url 'index' 'tomorrow' 'all' 'tomorrow-other' %}" class="tomorrow-other-link">その他</a>
                    {% endif %}
                {% else %}
                    <img src="{% static 'img/TDL_top.png' %}" class="top-pic" alt="">
                    {% if category == 'story' %}
                        <a href="{% url 'index' 'bazaar' 'story' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' 'story' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' 'story' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' 'story' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' 'story' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' 'story' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' 'story' %}" class="tomorrow-link">トゥモローランド</a>
                    {% elif category == 'mickey' %}
                        <a href="{% url 'index' 'bazaar' 'mickey' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' 'mickey' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' 'mickey' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' 'mickey' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' 'mickey' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' 'mickey' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' 'mickey' %}" class="tomorrow-link">トゥモローランド</a>
                    {% elif category == 'trivia' %}
                        <a href="{% url 'index' 'bazaar' 'trivia' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' 'trivia' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' 'trivia' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' 'trivia' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' 'trivia' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' 'trivia' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' 'trivia' %}" class="tomorrow-link">トゥモローランド</a>
                    {% elif category == 'other' %}
                        <a href="{% url 'index' 'bazaar' 'other' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' 'other' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' 'other' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' 'other' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' 'other' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' 'other' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' 'other' %}" class="tomorrow-link">トゥモローランド</a>
                    {% elif category == 'all' %}
                        <a href="{% url 'index' 'bazaar' 'all' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' 'all' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' 'all' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' 'all' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' 'all' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' 'all' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' 'all' %}" class="tomorrow-link">トゥモローランド</a>
                    {% else %}
                        <a href="{% url 'index' 'bazaar' %}" class="bazaar-link">ワールドバザール</a>
                        <a href="{% url 'index' 'adventure' %}" class="adventure-link">アドベンチャーランド</a>
                        <a href="{% url 'index' 'western' %}" class="western-link">ウエスタンランド</a>
                        <a href="{% url 'index' 'critter' %}" class="critter-link">クリッターカントリー</a>
                        <a href="{% url 'index' 'fantasy' %}" class="fantasy-link">ファンタジーランド</a>
                        <a href="{% url 'index' 'toon' %}" class="toon-link">トゥーンタウン</a>
                        <a href="{% url 'index' 'tomorrow' %}" class="tomorrow-link">トゥモローランド</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="picmenu">
    <ul id="table-ul">
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'all' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'all' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'all' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'all' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'all'%}">
                {% if attraction == 'alice' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'alice' %}">
                {% elif attraction == 'small' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'small' %}">
                {% elif attraction == 'carousel' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'carousel' %}">
                {% elif attraction == 'snow' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'snow' %}">
                {% elif attraction == 'cinderella' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'cinderella' %}">
                {% elif attraction == 'dumbo' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'dumbo' %}">
                {% elif attraction == 'beast' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'beast' %}">
                {% elif attraction == 'pinocchio' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'pinocchio' %}">
                {% elif attraction == 'pooh' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'pooh' %}">
                {% elif attraction == 'haunted' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'haunted' %}">
                {% elif attraction == 'philhar' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'philhar' %}">
                {% elif attraction == 'fantasy-other' %}
                    <a href="{% url 'index' 'fantasy' 'all' 'fantasy-other' %}">
                {% endif %}
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'all' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'all' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'all' %}">
            {% endif %}
                <!-- <img src="{% static 'img/box.png' %}" alt="全て" class="icon-category"> -->
                <img src="{% static 'img/box.png' %}" alt="" class="icon-category" id="box" onmouseover="mouseOn();" onmouseout="mouseOff();" />
                <p>全て</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'story' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'story' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'story' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'story' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'story' attraction %}">
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'story' attraction %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'story' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'story' %}">
            {% endif %}
                <!-- <img src="{% static 'img/memo.png' %}" alt="ストーリー" class="icon-category"> -->
                <img src="{% static 'img/memo.png' %}" alt="" class="icon-category" id="memo" onmouseover="mouseOn();" onmouseout="mouseOff();" />
                <p>ストーリー</p>
            </a>
        </li>
        <li id="target">
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'mickey' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'mickey' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'mickey' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'mickey' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'mickey'%}">
                {% if attraction == 'alice' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'alice' %}">
                {% elif attraction == 'small' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'small' %}">
                {% elif attraction == 'carousel' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'carousel' %}">
                {% elif attraction == 'snow' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'snow' %}">
                {% elif attraction == 'cinderella' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'cinderella' %}">
                {% elif attraction == 'dumbo' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'dumbo' %}">
                {% elif attraction == 'beast' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'beast' %}">
                {% elif attraction == 'pinocchio' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'pinocchio' %}">
                {% elif attraction == 'pooh' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'pooh' %}">
                {% elif attraction == 'haunted' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'haunted' %}">
                {% elif attraction == 'philhar' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'philhar' %}">
                {% elif attraction == 'fantasy-other' %}
                    <a href="{% url 'index' 'fantasy' 'mickey' 'fantasy-other' %}">
                {% endif %}
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'mickey' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'mickey' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'mickey' %}">
            {% endif %}
                <!-- <img src="{% static 'img/mickey_b.png' %}" alt="隠れミッキー" class="icon-category"> -->
                <img src="{% static 'img/mickey_b.png' %}" alt="" class="icon-category" id="mickey" onmouseover="mouseOn();" onmouseout="mouseOff();" />
                <p>隠れミッキー</p>
            </a>
        </li>
        <li class="img-bulb"> 
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'trivia' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'trivia' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'trivia' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'trivia' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'trivia'%}">
                {% if attraction == 'alice' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'alice' %}">
                {% elif attraction == 'small' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'small' %}">
                {% elif attraction == 'carousel' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'carousel' %}">
                {% elif attraction == 'snow' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'snow' %}">
                {% elif attraction == 'cinderella' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'cinderella' %}">
                {% elif attraction == 'dumbo' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'dumbo' %}">
                {% elif attraction == 'beast' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'beast' %}">
                {% elif attraction == 'pinocchio' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'pinocchio' %}">
                {% elif attraction == 'pooh' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'pooh' %}">
                {% elif attraction == 'haunted' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'haunted' %}">
                {% elif attraction == 'philhar' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'philhar' %}">
                {% elif attraction == 'fantasy-other' %}
                    <a href="{% url 'index' 'fantasy' 'trivia' 'fantasy-other' %}">
                {% endif %}
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'trivia' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'trivia' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'trivia' %}">
            {% endif %}
                <!-- <img src="{% static 'img/bulb.png' %}" alt="" class="icon-category default"> -->
                <!-- <img src="{% static 'img/bulb_white.png' %}" alt="" class="icon-category activate"> -->
                <img src="{% static 'img/bulb_white.png' %}" alt="" class="icon-category" id="bulb1" onmouseover="mouseOn2();" onmouseout="mouseOff2();" />
                <p>豆知識</p>
            </a>
        </li>
        <li>
            {% if area == 'bazaar' %}
                <a href="{% url 'index' 'bazaar' 'other' %}">
            {% elif area == 'adventure' %}
                <a href="{% url 'index' 'adventure' 'other' %}">
            {% elif area == 'western' %}
                <a href="{% url 'index' 'western' 'other' %}">
            {% elif area == 'critter' %}
                <a href="{% url 'index' 'critter' 'other' %}">
            {% elif area == 'fantasy' %}
                <a href="{% url 'index' 'fantasy' 'other'%}">
                {% if attraction == 'alice' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'alice' %}">
                {% elif attraction == 'small' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'small' %}">
                {% elif attraction == 'carousel' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'carousel' %}">
                {% elif attraction == 'snow' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'snow' %}">
                {% elif attraction == 'cinderella' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'cinderella' %}">
                {% elif attraction == 'dumbo' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'dumbo' %}">
                {% elif attraction == 'beast' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'beast' %}">
                {% elif attraction == 'pinocchio' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'pinocchio' %}">
                {% elif attraction == 'pooh' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'pooh' %}">
                {% elif attraction == 'haunted' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'haunted' %}">
                {% elif attraction == 'philhar' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'philhar' %}">
                {% elif attraction == 'fantasy-other' %}
                    <a href="{% url 'index' 'fantasy' 'other' 'fantasy-other' %}">
                {% endif %}
            {% elif area == 'toon' %}
                <a href="{% url 'index' 'toon' 'other' %}">
            {% elif area == 'tomorrow' %}
                <a href="{% url 'index' 'tomorrow' 'other' %}">
            {% else %}
                <a href="{% url 'index' 'all' 'other' %}">
            {% endif %}
                <!-- <img src="{% static 'img/bookmark.png' %}" alt="その他" class="icon-category"> -->
                <img src="{% static 'img/bookmark_green.png' %}" alt="" class="icon-category" id="bookmark" onmouseover="mouseOn();" onmouseout="mouseOff();" />
                <p>その他</p>
            </a>
        </li>
    </ul>
</div>

<!-- 投稿部分 -->
{% for post in post_data %}
<div class="row post-detail">
    <div class="col-md-4">
        <a href="{% url 'post_detail' post.id %}">
            {% if post.image %}
                <img class="img-fluid rounded mb-md-0 article-img" src="{{ post.image.url }}" alt="">
            {% else %}    
                <img class="img-fluid rounded mb-md-0 article-noimg" src="{% static 'img/20161006_noimage.svg' %}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8 article">
        <div class="author-created">
            <h7 class="text_left author-created">
            {% if post.author.icon %}
                <img src="{{ post.author.icon.url }}" class="user-icon-top">
            {% else %}
                <img src="{% static 'img/user1.png' %}" class="user-icon-top">
            {% endif %}
                {{ post.author }}
                {{ post.category }}
            </h7>
            <h7 class="text_right">{{ post.created }}</h7>
        </div>
        <div class="article-container">
            <h3>{{ post.title|truncatechars:17}}</h3>
            <div>
            {% if post.category == "ストーリー" %}
                <img src="{% static 'img/memo.png' %}" alt="book" class="article-category-icon">
            {% elif post.category == "隠れミッキー" %}
                <img src="{% static 'img/mickey.png' %}" alt="book" class="article-category-icon">
            {% elif post.category == "豆知識" %}
                <img src="{% static 'img/bulb.png' %}" alt="book" class="article-category-icon">
            {% elif post.category == "その他" %}
                <img src="{% static 'img/bookmark_green.png' %}" alt="book" class="article-category-icon">
            {% else %}
                <img src="{% static 'img/memo.png' %}" alt="なんも" class="article-category-icon">
            {% endif %}
            </div>
            {{ post.category }}
        </div>
        <p>{{ post.content|truncatechars:200 }}</p>
        <a class="article-more" href="{% url 'post_detail' post.id %}">もっと見る</a>
    </div>
</div>
{% endfor %}

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <a class="page-link" href="#!">
                {{ num }}
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?{%  url_replace request 'page' num %}">
                {{ num }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{%  url_replace request 'page' page_obj.next_page_number %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>

<div class="text-right">
    <a href="{% url 'post_new' %}" class="btn btn-info">新しい記事を投稿</a>
</div>
{% endblock %}

<!-- マウスオーバー変換 -->
{% block extra_js %}
<script type="text/javascript">
    function mouseOn(){
        var obj = document.getElementById("box");
        obj.src = "{% static 'img/box.png' %}";
        var obj = document.getElementById("memo");
        obj.src = "{% static 'img/memo_black.png' %}";
        var obj = document.getElementById("mickey");
        obj.src = "{% static 'img/mickey_b.png' %}";
        // var obj = document.getElementById("bulb1");
        // obj.src = "{% static 'img/bulb.png' %}";
        var obj = document.getElementById("bookmark");
        obj.src = "{% static 'img/bookmark_white.png' %}";
    }
    function mouseOn2(){
        var obj = document.getElementById("bulb1");
        obj.src = "{% static 'img/bulb.png' %}";

    }
    function mouseOff(){
        var obj = document.getElementById("box");
        obj.src = "{% static 'img/box.png' %}";
        var obj = document.getElementById("memo");
        obj.src = "{% static 'img/memo_black.png' %}";
        var obj = document.getElementById("mickey");
        obj.src = "{% static 'img/mickey_b.png' %}";
        // var obj = document.getElementById("bulb1");
        // obj.src = "{% static 'img/bulb_white.png' %}";
        var obj = document.getElementById("bookmark");
        obj.src = "{% static 'img/bookmark_green.png' %}";
    }
    function mouseOff2(){
        var obj = document.getElementById("bulb1");
        obj.src = "{% static 'img/bulb_white.png' %}";
    }

    function color1(){
        document.bgColor = "#eeeeff"
    }
</script>


{% endblock %}