{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div>
    <h2 class="ttl-bd mt-4 mb-4">マイページ</h2>
</div> 
<!-- <div class="container">
    <p class="user-picture-box">プロフ画像予定</p>
</div> -->

</div>
<div class="picmenu">
    <ul class="table-ul">
        <li>
            <a href="#">
                <img src="{% static 'img/box.png' %}" alt="全て" class="icon-category">
                <p>全て</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/memo.png' %}" alt="ストーリー" class="icon-category">
                <p>ストーリー</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/mickey_b.png' %}" alt="隠れミッキー" class="icon-category">
                <p>隠れミッキー</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/blub.png' %}" alt="豆知識" class="icon-category icon-category-bulb">
                <p>豆知識</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'img/bookmark.png' %}" alt="その他" class="icon-category">
                <p>その他</p>
            </a>
        </li>
    </ul>
</div>
<div>
お気に入り機能    
</div>
{% endblock %}