{% extends "app/base.html" %}
{% load static %}

{% block content %}

<h2 class="my-4 text-center mb-0">{{ post_data.title }}</h2>
<hr>
<div class="author-created">
    <div class="text_left author-created">
    {% if post_data.author.icon %}
        <img src="{{ post_data.author.icon.url }}" class="user-icon">
    {% else %}
        <img src="{% static 'img/user1.png' %}" alt="" class="user-icon">
    {% endif %}
        {{ post_data.author }}
    </div>
    <div class="text_right">{{ post_data.created|date:"Y年m月j日" }}</div>
</div>
{% if post_data.image %}
<img class="mx-auto d-block img-fluid rounded detail-img mb-1" src="{{ post_data.image.url }}" alt="">         
{% endif %}
<div class="article-category-icon">
    {% if post_data.category|stringformat:"s" == 'ストーリー' %}
        <img src="{% static 'img/memo.png' %}" alt="book" class="article-category-icon">
    {% elif post_data.category|stringformat:"s" == '隠れミッキー' %}
        <img src="{% static 'img/mickey.png' %}" alt="book" class="article-category-icon">
    {% elif post_data.category|stringformat:"s" == '豆知識' %}
        <img src="{% static 'img/bulb.png' %}" alt="book" class="article-category-icon">
    {% elif post_data.category|stringformat:"s" == 'その他' %}
        <img src="{% static 'img/comment.png' %}" alt="book" class="article-category-icon">
    {% else %}
        <img src="{% static 'img/search.png' %}" alt="なんも" class="article-category-icon">
    {% endif %}
</div>
<div class="d-flex justify-content-start">
    <form action="{% url 'like' %}" method="POST">
        {% csrf_token %}
        {% if post_data.id in liked_list %}
        <button id="like" name="{{ post_data.id }}"><i class="fas fa-lg fa-heart liked-red">お気に入り</i></button>
        {% else %}
        <button id="like" name="{{ post_data.id }}"><i class="far fa-lg fa-heart liked-red">お気に入り</i></button>      
        {% endif %}
    </form>
    <p name="{{ post_data.id }}-count" class="count"> {{ post_data.like_set.count }} </p>
</div>
<div>{{ post_data.area }} > {{ post_data.attraction }}</div>
<div>{{ post_data.category }}</div>

<br>
    <p>{{ post_data.content|linebreaksbr }}</p>
    {% if user.is_authenticated %}
<hr>
<div class="d-flex justify-content-center mb-5">
    <a class="btn btn-warning mr-2" href="{% url 'post_edit' post_data.id %}">編集する</a>
    <a class="btn btn-danger" href="{% url 'post_delete' post_data.id %}">削除する</a>    
</div>

{% endif %}

{% endblock %}
<!-- likeボタン -->
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            console.log($(this).attr('name'))
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    'post_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.post_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart liked-button'>お気に入り</i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart like-button'>お気に入り</i>");
                    }
                    selector2 = document.getElementsByName(response.post_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
</script>
{% endblock %}