{% extends "app/base.html" %}
{% load static %}

{% block content %}
<!-- トップ絵部分 -->
<a name="search">
{% if keyword %}
    <p class="mt-2 mb-4">「{{ keyword }}」の検索ヒット数：{{ count }} 件</p>
{% endif %}

{% for post in post_data %}
<div class="row post-detail">
    <div class="col-md-4">
        <a href="{% url 'post_detail' post.id %}">
            {% if post.image %}
                <img class="img-fluid rounded mb-md-0 article-img" src="{{ post.image.url }}" alt="">
            {% else %}
                <img class="img-fluid rounded mb-md-0 article-noimg" src="{% static 'img/20161006_noimage.svg' %}" alt="">
            {% endif %}
        </a>
    </div>
    <div class="col-md-8 article">
        <div class="author-created">
            <h7 class="text_left author-created">
            {% if post.author.icon %}
                <img src="{{ post.author.icon.url }}" class="user-icon-top">
            {% else %}
                <img src="{% static 'img/user1.png' %}" class="user-icon-top">
            {% endif %}
                {{ post.author }}
                {{ post.area }} > {{ post.attraction }}
            </h7>
            <h7 class="text_right">{{ post.created|date:"Y/m/j/" }}</h7>
        </div>
        <div class="article-container">
            <h3 class="article-title">{{ post.title|truncatechars:17}}</h3>
            <div>
            {% if post.category|stringformat:"s" == "ストーリー" %}
                <img src="{% static 'img/memo.png' %}" alt="book" class="article-category-icon">
            {% elif post.category|stringformat:"s" == "隠れミッキー" %}
                <img src="{% static 'img/mickey.png' %}" alt="book" class="article-category-icon">
            {% elif post.category|stringformat:"s" == "豆知識" %}
                <img src="{% static 'img/bulb.png' %}" alt="book" class="article-category-icon bulb">
            {% elif post.category|stringformat:"s" == "その他" %}
                <img src="{% static 'img/comment.png' %}" alt="book" class="article-category-icon">
            {% else %}
                <img src="{% static 'img/search.png' %}" alt="なんも" class="article-category-icon">
            {% endif %}
            </div>
        </div>
        <div class="">{{ post.attraction }}</div>
        <p>{{ post.content|truncatechars:200 }}</p>
        <a class="article-more" href="{% url 'post_detail' post.id %}">もっと見る</a>
    </div>
</div>
{% endfor %}

{% endblock %}